.button {
    background-color: #F9A820 !important;
    color: #1F3751 !important;
    border: 1px solid #D2D7DC !important;
    transition: .7s !important;
}

.button:hover {
    background-color: #1F3751 !important;
    color: #D2D7DC !important;
}


